*.xcuserstate

*.xcbkptlist

SHARKULATOR.xcodeproj/project.xcworkspace/xcuserdata/clementperez.xcuserdatad/UserInterfaceState.xcuserstate

SHARKULATOR.xcodeproj/project.xcworkspace/xcuserdata/clementperez.xcuserdatad/UserInterfaceState.xcuserstate

SHARKULATOR.xcodeproj/xcuserdata/clementperez.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

*.xcbkptlist

SHARKULATOR.xcodeproj/xcuserdata/clementperez.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

SHARKULATOR.xcodeproj/xcuserdata/clementperez.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
