*.xcuserstate

*.xcbkptlist

SHARKULATOR.xcodeproj/project.xcworkspace/xcuserdata/clementperez.xcuserdatad/UserInterfaceState.xcuserstate

SHARKULATOR.xcodeproj/project.xcworkspace/xcuserdata/clementperez.xcuserdatad/UserInterfaceState.xcuserstate
